[submodule "submodules/curl"]
	path = submodules/curl
	url = https://github.com/curl/curl.git
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/TheCherno/glfw.git
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui.git
